chat supabase docs.json
{
  "name": "chat supabase docs",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4bed936-9d43-45a1-b81d-34dda46e357c",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        2128
      ],
      "id": "9c03cf1e-ccbf-4409-b643-874057576993",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        2128
      ],
      "id": "265391f7-501c-4f85-b9d3-4e334ae88013",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Uw6K9MGE5WNXDL5D",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1232,
        2240
      ],
      "id": "cd20ef1c-f0be-439f-9fe3-1ddc2c391435",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1232,
        2384
      ],
      "id": "2c12c2c8-8582-4628-ad6a-eaadb54c37bc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakanlah tool ini untuk \nmenjawab pertanyaan tentang Tugas Akhir.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1088,
        2560
      ],
      "id": "cc84957a-ecec-4767-b035-776b81e6f844",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "KWbGxcBzIAqXznaK",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.chatInput }}",
        "options": {
          "systemMessage": "Kamu adalah afi, asisten penulisan ilmiah untuk tugas akhir atau skripsi. Seluruh jawaban harus berdasarkan data yang tersedia di Supabase Vector Store sebagai satu-satunya sumber referensi. Gunakan bahasa formal, jelas, dan sesuai kaidah ilmiah. Dilarang membuat asumsi atau memberikan informasi di luar data yang tersedia. Jika informasi tidak ditemukan, jawab: “Mohon maaf, saya belum dapat memberikan jawaban.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        2448
      ],
      "id": "fb3780c7-0f73-49a1-b0cf-df5f4fff12a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        816,
        2640
      ],
      "id": "098f12fc-eaa2-48b8-afa8-c584caf7a25d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8wySp1aixnuUd4zR",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1088,
        2368
      ],
      "id": "68a6e612-7822-44b7-8948-4dd4030f2bec",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "KIHsqBQYDcwsiNIL",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olaa Ma Fren! 👋\nMy name is Afi. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        528,
        2448
      ],
      "id": "0a9710e8-e644-4137-9da0-e54efdf2afca",
      "name": "When chat message received",
      "webhookId": "73fec67c-7d72-47d3-a10e-eacd29571475"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1MDDpiPqBvJk3UnR6CT-oFVemt2yOgK3n",
          "mode": "list",
          "cachedResultName": "RAG-AI CHAT BOT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MDDpiPqBvJk3UnR6CT-oFVemt2yOgK3n"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        288,
        2128
      ],
      "id": "6a14b0b0-8e6b-4c92-a5a7-820b07a28156",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Uw6K9MGE5WNXDL5D",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        880,
        2128
      ],
      "id": "466100dc-6620-48ae-bc27-c394cbc9223e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1088,
        2128
      ],
      "id": "aaa6cf52-450e-4159-af03-4eee6256bdea",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "KWbGxcBzIAqXznaK",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        592,
        2656
      ],
      "id": "d3406470-104a-4b40-a590-b0156e4bb5f5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "hOSuT00oEiO7A87F",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a283ff36-2aaa-4bcf-8617-da88ee956cf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c90e6f546688297a076a0ddc5b05456305f0b7a8caa088411389ddcc86df9748"
  },
  "id": "n7dmV2UXUyFGbecy",
  "tags": []
}